body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
input{
  width: 150px;
  height: 40px;
  font-size: 14px;
}
label{
  width: 150px;
  height: 40px;
  font-size: 20px;
}
.diagonal-gradient {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
    text-align: center;
}
th {
    font-size: 22px;
    padding: 10px;
}
td {
    padding: 5px;
    border: 2px solid rgb(20, 0, 66);
    text-align: center;
    background: #d7bbf7;
    padding: 10px;
}
table {
    table-layout: fixed;
    width: 99%;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    align-content: center;
    border-collapse: separate;
    border-spacing: 5px;
    background: #e0e9ec;
    color: #0b0542;
    border: 16px solid #e0e9ec;
    border-radius: 20px;
}
.filtrO{
    margin:12px 27px;
    font-size: 16px;
    align-content: center; 
}
.filtr{
    margin:12px 19px;
    font-size: 16px;
    align-content: center; 
}
.SNS{
    margin: 3px 7px;
}
button{
  margin: 15px;
  width: 180px;
  height: 30px;
  line-height: 2px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  position: relative;
  transition: all .35s;
}

button span{
  position: relative;
  z-index: 2;
}

button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ca83f3;
  color:aliceblue;
  transition: all .35s;
}

button:hover{
    color:aliceblue;
}

button:hover:after{
    width: 100%;
    color:aliceblue;
}